/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment temporarily to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* BASE SETTINGS *************************/

/* Settings to make it easier for you
   uncomment permanently when you understand the meaning of them */
   
/* border is included in width en height of boxes */
/* * { box-sizing: border-box; } */

/* standard margin 0 pixels */
/* * { margin: 0px; } */

/* hide everything larger than the dimensions of the div-box
   important side effect: browser usually doesn't take floats
   into account when determining height of div, leading to 
   div with height zero. With this settings, height of div-boxes
   willl be large enough to fit floats inside. */
/* div { overflow: hidden; }

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */


header { 
grid-area: header ;
margin: 20px;

}

nav {
  grid-area: nav ;
  margin: 40px;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

article {
  flex: 0 0 20%;
  margin: 20px;
  padding: 8px;
}
h1 {
background-color: #C6AC8F;
    border-radius: 50px;
    padding: 10px 14px;
    margin: 16px 0 24px 0;
    text-align: center;
    text-decoration: underline;
      font-family: "Poiret One", sans-serif;
}

p {
  flex: 0 0 20%;
  margin: 20px;
  padding: 8px;
  border: 5px;
  border-style: solid;
  font-family: "Poiret One", sans-serif;
}

h2 {
  text-align: center;
 text-decoration: underline;
   font-family: "Poiret One", sans-serif;

}

